h1 {
    text-align: center;
    color: #b3b3b3;
}

#quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

#islam img {
    position: relative;
    margin: 50px;
}

#images img {
    position: relative;
    margin: 50px;
}

body {
    background-color: rgb(0, 70, 161);
}

#link {
    text-align: center;
    position: relative;
    font-size: large;
}

#bottom {
    background-color: #b3b3b3;
    margin: -6px;
}
