#linkparent {
    position:absolute;
}



#goBack {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: large;
    
    
    
}
#quiz {
    position:fixed;
    bottom: 0;
    right: 0;
    font-size: large;
    
}




#head1 {
    text-align: center;
    color:#b3b3b3;
    
}

body {
    background-color: rgb(0,70,161);
}

#bottom {
    background-color:#b3b3b3;
    margin:-6px
    
}

.images img {
    
    padding:50px;
}

