#linkparent {
    position:relative;
}



#goBack {
    position: absolute;
    right:1200px;
    top:-20px;
    
}
#quiz {
    position:absolute;
    right:50px;
    top:-20px;
}




#head1 {
    text-align: center;
    color:#b3b3b3;
    
}

body {
    background-color: rgb(0,70,161);
}

#bottom {
    background-color:#b3b3b3;
    margin:-6px
    
}

.images img {
    
    padding:50px;
}

